---
layout: default
title: Blog
---


<div>

  {% assign blog_posts = site.posts | where: "type", "paper" %}
  {% assign sorted_blog_posts = blog_posts | sort: "date" %}
  {% assign design_blog_posts = sorted_blog_posts | where: "topic", "Design" %}
  {% assign software_blog_posts = sorted_blog_posts | where: "topic", "Software" %}
  {% assign business_blog_posts = sorted_blog_posts | where: "topic", "Business" %}

  <h1>Blog</h1>

   <h2>Business</h2> 
   <div class="flex_row_nowrap scrollable">
  {% for post in business_blog_posts %}
    <a class="paper_preview" href="{{ post.url }}">
      <h3>{{ post.title }}</h3>
      <p>{{ post.title-sentence }}</p>
    </a>
  {% endfor %}
    </div>
    
  <h2>Design</h2> 
  <div class="flex_row_nowrap scrollable">
  {% for post in design_blog_posts %}
    <a class="paper_preview" href="{{ post.url }}">
      <h3>{{ post.title }}</h3>
      <p>{{ post.title-sentence }}</p>
    </a>
  {% endfor %}
  </div>
  
  
  <h2>Software</h2> 
  <div class="flex_row_nowrap scrollable">
  {% for post in software_blog_posts %}
    <a class="paper_preview" href="{{ post.url }}">
      <h3>{{ post.title }}</h3>
      <p>{{ post.title-sentence }} {{post.topic}}</p>
          
    </a>
  {% endfor %}
    </div>



    
</div>

