---
layout: default
title: Papers
---


<div>

  {% assign papers = site.posts | where: "type", "paper" %}
  {% assign sorted_papers = papers | sort: "date" %}
  {% assign design_papers = sorted_papers | where: "topic", "Design" %}
  {% assign software_papers = sorted_papers | where: "topic", "Software" %}
  {% assign business_papers = sorted_papers | where: "topic", "Business" %}

  <h1>Papers</h1>

   <h2>Business</h2> 
   <div class="flex_row_nowrap scrollable">
  {% for post in business_papers %}
    <a class="paper_preview" href="{{ post.url }}">
      <h3>{{ post.title }}</h3>
      <p>{{ post.title-sentence }}</p>
    </a>
  {% endfor %}
    </div>
    
  <h2>Design</h2> 
  <div class="flex_row_nowrap scrollable">
  {% for post in design_papers %}
    <a class="paper_preview" href="{{ post.url }}">
      <h3>{{ post.title }}</h3>
      <p>{{ post.title-sentence }}</p>
    </a>
  {% endfor %}
  </div>
  
  
  <h2>Software</h2> 
  <div class="flex_row_nowrap scrollable">
  {% for post in software_papers %}
    <a class="paper_preview" href="{{ post.url }}">
      <h3>{{ post.title }}</h3>
      <p>{{ post.title-sentence }} {{post.topic}}</p>
          
    </a>
  {% endfor %}
    </div>



    
</div>

