<div id="open-modal" class="modal-window">
  <div>
    <a href="#" title="Close" class="modal-close">Close</a>
    <h1>Share</h1>
    <div>Share this portfolio</div>
    <div class="flex_row_wrap">
    
        <div>
                <a href="https://www.linkedin.com/shareArticle?mini=true&url=https%3A%2F%2Fbrynl-f.github.io%2F&title=Portfolio&summary=Projects%2C+Papers%2C+and+Professional+experience.&source=brynl-f.github.io" rel="nofollow" target="_blank" title="Share on LinkedIn">LinkedIn</a>
                <a href="https://www.facebook.com/sharer/sharer.php?u={{ site.url }}{{ site.baseurl }}{{ page.url }}">Facebook</a>
        </div>
        <div>

        </div>
        <div>

        </div>
    <div>
  </div>
</div>