:root {
  --plump_purple: #5249a5;
  --off_white: #fefdfd;
  --light_gray: #f8f5f5;
  --gray:#e1dede;
  --grey: #808080;
  --off_black: #140400;
}

* {
  padding: 0;
  margin: 0;
  font-family: "Barlow";
  color: var(--grey);
}

h1 {
  font-size: 32px;
  padding-bottom:16px;
}

h2{
  padding-bottom:8px;
}

h5{
  color:var(--plump_purple);
  margin-top: 30px;
  margin-bottom: 30px;
}

h6{
  font-size: 24px;
  color: var(--plump_purple);
  padding-bottom:8px;
}


/*tablets and smaller
@media only screen  and (max-width : 768px) {

}
*/


.flex_column_wrap {
  display: flex;
  flex-flow: column;
  align-content: space-between;
  width: 100%;
  height: 100%; 
}

.flex_column_wrap > div {
  flex-grow:1;
}


.flex_column_nowrap {
  display: flex;
  flex-flow: column nowrap;
  align-items: stretch;
  width: 100%;
  height: 100%; 
}

.flex_column_nowrap > div {
  flex-grow:1;
}


.flex_row_wrap {
  display: flex;
  flex-flow: row wrap;
  align-items: stretch;
  width: 100%;
  height:100%;
  min-width:0;
}

.flex_row_wrap > div {
  flex-grow: 1;
}

.flex_column_wrap > button{
  flex-grow: 1;
}

.flex_row_nowrap {
  position: absolute;
  display: flex;
  flex-flow: row nowrap;
  width: 100%;
  height: 100%;
}

html{
  background-color:#fefdfd;

}


body { 
  width: 100%;
  height: 100%;


 }

.menu_and_content{
  position: absolute;
  display: flex;
  flex-flow: row nowrap;
  width: 100%;
  height: 100%;
}

.menu{
  background-color: white;
}

.content{
  width:100%;
  height:100%;
  background-color: #f8f5f5;
  overflow-y:scroll;
}


.content > div:not(.grid){
  padding-top:30px;
  padding-left:30px;
  padding-right:30px;
  padding-bottom:30px;
  background-color:white;
  margin:30px;
  min-height:calc(100% - 60px - 40px - 20px);
}





//screens bigger than a tablet
@media screen  and (min-device-width : 768px) {
  .menu{
    flex: 1;
    height:100%;
    max-width:75px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    
  }
  .content{
    flex: 1;
    height:100%;
  }

 
}

//tablets and smaller
@media screen  and (max-device-width : 768px) {
  .menu_and_content{
    position: absolute;
    display: flex;
    flex-flow: column nowrap;
    max-width: 100%;
    height: 100%;
  }
  .menu{
    flex: 1;
    width: 100%;
    max-height: 75px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    min-width:370px;
  }

  .content{
    flex: 1;
    width:100%;
  } 


  .menu_option > span{
    display:none;
  }
    

}


.menu_logo{

}

.menu_options{
  align-content: center;
  justify-content: center;
  display:flex;
  flex-flow: wrap;
  width: 100%;
  height: 100%;
}

.menu_share{
   
}

.menu_option{
  align-content: center;
  justify-content: center;
  display: flex;
  flex-direction: row;
  flex-flow: wrap;
  text-align: center;
  text-decoration: none;
  padding:5px;
}

.menu_option_title{
  visibility: hidden;
  padding-bottom: 15px;
}

.current > span{
  visibility: visible;
}

.menu_icon{
  width: 50px;
  height: 50px;

}
.menu_icon:hover{
  filter: brightness(110%);
}

.paper_preview{
  margin-right: 8px;
  padding: 8px;
  min-height:275px;
  min-width:200px;
  background-color: #5249a5;
  text-decoration: none;
  color: #f8f5f5;
}

.paper_preview > p,h3{
  color: #f8f5f5;
}

.scrollable{
  overflow-x: scroll;
  overflow-y: hidden;
  -webkit-overflow-scrolling: touch;
  width: 100%;
  height: 275px;
  white-space: nowrap;
  position: relative;
}

.project_preview_parent{
  display: flex;
  flex-wrap: wrap;

}

.project_preview{
  background-color: var(--plump_purple);
  min-width:250px;
  min-height:250px;
  flex: 0 0 29.33333%;
  margin-right:1%;
  margin-bottom:1%;
  padding:1%;
  color: #fefdfd;
}

.project_preview > h3 {
  color: #fefdfd;
}


.list_descriptions{
  margin-top:30px;
  margin-bottom:30px;
}

.list_descriptions > h3{
  color: #5249a5;
}

.list_descriptions >p {
  text-align:justify;  
  text-justify:inter-word;
}

.about_flex{
  display: flex;
  flex-flow: row wrap;
  align-items: stretch;
  width: 100%;
  height:100%;
  min-width:0;
  justify-content: space-between;
}

.description{
  flex: 1;
}
.portfolio_img {
  max-width: 100%;
  width: 400px;
  margin:8px;
  flex: 1;
  min-width:0px;
}


textarea {
  max-width: 500px;
  width:100%;
  height: 150px;
  background-color: #fefdfd;
  border-color: #E1DEDE;
  border-style: solid;
  border-width:2px;

}

input{
  max-width: 200px;
  width:100%;
  border-color: #E1DEDE;
  border-style:solid;
  background-color: #fefdfd;
  border-width:2px;

}

button{
  border-color:  #E1DEDE;
  border-style: solid;
  background-color: #E1DEDE;
  padding-left:4px;
  padding-right:4px;
}

.contact_links{
  min-width:10%;
  width: 100px;
  max-width: 30%;
}

.contact_links > div{
  background-color: #5249A5;
}

.rightfloat {
  width:100%;
  justify-content: right;
}

/* modal code from https://codepen.io/timothylong/pen/HhAer */
.modal-window {
  position: fixed;
  background-color: rgba(82,73,165,0.3); 
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 999;
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s;
  &:target {
    visibility: visible;
    opacity: 1;
    pointer-events: auto;
  }
  &>div {
    width: 300px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 2em;
    background: #ffffff;
  }
  header {
    font-weight: bold;
  }
  h1 {
    font-size: 150%;
    margin: 0 0 15px;
  }
}


/* modal code from https://codepen.io/timothylong/pen/HhAer */

.modal-close {
  color: #aaa;
  line-height: 50px;
  font-size: 80%;
  position: absolute;
  right: 0;
  text-align: center;
  top: 0;
  width: 70px;
  text-decoration: none;
  &:hover {
    color: black;
  }
}


.contact-box-find{
  margin-right: 20px;
  padding:20px;
  margin-bottom:20px;
  background-color: var(--plump_purple);
}
.contact-box-form{
  background-color: var(--plump_purple);
  padding:20px;
  margin-right: 20px;
  margin-bottom: 20px;
}

.contact-box-form > form> label{
  color:  #E1DEDE;
}


.contact-box-links{
  background-color: var(--plump_purple);
  padding: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
  justify-content: space-around;
  color:  #E1DEDE;
}

.contact_box_links > div{
  width:100%;
}

.contact-box-links > div > a > img:hover {
  filter: brightness(150%);
}

.contact-box-find > div > p {
    color:  #E1DEDE;
}

.contact-box-links > div > a > p {
    color:  #E1DEDE;
}


.sb > auto{
  margin-right: 16px;
}

.sb{
  margin-top:16px;
  align-items: center;
  align-content: space-between;
}


.center > * {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

form{
  padding-top:16px;
}

.grid {
  position: relative;
  margin:15px;
  background-color: white;
  max-height:calc(100% - 60px);
  display: grid;
  grid-template-columns: calc(50% - 15px) calc(50% - 15px);
  grid-auto-rows: calc(50vh - 15px) calc(50vh - 45px);
}

.quadrant {
  border: 15px solid #f8f5f5;
  z-index: 1;
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
}

.floating-2 {
  z-index: 2;
  position: absolute;
  transform: translate(-50%, -50%);
  left: calc(50%);
  top: 50%;
}

.floating-2> img{
  width: 90%;
  background: #f8f5f5;
  border-radius:50%;
  border: 15px solid #f8f5f5;
}

.floating-3{
  z-index: 3;
  position: absolute;
  transform: translate(-50%, -50%);
  left: calc(50%);
  top: 50%;
  text-align: center;
}

.window-text{
   width: 100%;
   height: 100%;
   background-repeat: repeat;
   webkit-filter: blur(2px);
   filter: blur(2px);
}
.window-text:hover{
  webkit-filter: blur(0px);
  filter: blur(0px);
}

#about{
  background-image: url("../../assets/images/about.png");
}


#papers{
   background-image: url("../../assets/images/papers.png");
}

#projects{
   background-image: url("../../assets/images/projects.png");
}

#contact{
   background-image: url("../../assets/images/contact.png");
}