<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/styles.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Barlow">
    <meta name="author" content="Bryn Leonard-Fortune">
    <meta name="image" property="og:image" content="/assets/images/logos/blf_logo.png">
    <meta name="title" property="og:title" content="Bryn Leonard-Fortune's Portfolio">    
    <meta name="description" property="og:description" content="Projects, papers, preferences, and professional experience.">
    <meta property="og:type" content="Porfolio">
    <meta property='og:url' content="https://brynl-f.github.io/" />

  </head>

  <body>

    <section class="menu_and_content">
      {% include navigation.html %}
      <div class = "content"> 
        {{content}}
      </div>
    </section>


  </body>
</html>
